In [1]:
import pandas as pd

In [2]:
summer = pd.read_csv('./datasets/summer.csv')

In [3]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [4]:
summer.iloc[0]

Year                    1896
City                  Athens
Sport               Aquatics
Discipline          Swimming
Athlete        HAJOS, Alfred
Country                  HUN
Gender                   Men
Event         100M Freestyle
Medal                   Gold
Name: 0, dtype: object

In [6]:
summer.iloc[0, 4]

'HAJOS, Alfred'

In [8]:
summer.iloc[0, 0:3]

Year         1896
City       Athens
Sport    Aquatics
Name: 0, dtype: object

In [11]:
summer.iloc[0, [2, 4, 6, 8]]

Sport           Aquatics
Athlete    HAJOS, Alfred
Gender               Men
Medal               Gold
Name: 0, dtype: object

In [12]:
summer.iloc[34:39, [2, 4, 6, 8]]

        Sport               Athlete Gender   Medal
34  Athletics       GARRETT, Robert    Men  Silver
35  Athletics        KELLNER, Gyula    Men  Bronze
36  Athletics       LOUIS, Spyridon    Men    Gold
37  Athletics  VASILAKOS, Kharilaos    Men  Silver
38  Athletics   DAMASKOS, Evangelos    Men  Bronze

In [16]:
summer.iloc[:, 4]

0                    HAJOS, Alfred
1                 HERSCHMANN, Otto
2                DRIVAS, Dimitrios
3               MALOKINIS, Ioannis
4               CHASAPIS, Spiridon
                   ...
31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, Length: 31165, dtype: object

In [17]:
summer.iloc[:, 4].equals(summer.Athlete)

True

In [19]:
summer['Athlete']

0                    HAJOS, Alfred
1                 HERSCHMANN, Otto
2                DRIVAS, Dimitrios
3               MALOKINIS, Ioannis
4               CHASAPIS, Spiridon
                   ...
31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, Length: 31165, dtype: object